{{#author}}
<section class="author-card">
    <div class="row">
        <div class="col-sm-4">
            <img class="author-image" src="{{image}}">
        </div>
        <div class="col-sm-8">
            <h4><a href="{{url}}">{{name}}</a></h4>
            <p class="author-bio">{{bio}}</p>
        </div>
    </div>
</section>
{{/author}}