<footer class="site-footer">
    <div class="container">
        <span class="copyright">
            Designed by Kyle Wagner &copy; {{date format="YYYY"}}
            </br>
            Powered by <a href="https://ghost.org/">Ghost</a>
        </span>
    </div>
</footer>
{{! Ghost outputs important scripts and data with this tag }} {{ghost_foot}} {{! The main JavaScript file for Boo }}
