@import "bootstrap";
@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css?family=Catamaran:200,300,600');


// -----------------------------------------------------------------------------
// --- Tags ---
// -----------------------------------------------------------------------------
html{
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.1rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 300;
    color: $color-text;
}

h1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
}

.container-lg {
    @extend .container;
}

.container-sm {
    @extend .container;
    @media(min-width: $container-lg) {
        max-width: $container-sm;
    }

    @media(min-width: $container-md) {
        max-width: $container-sm;
    }
}

// -----------------------------------------------------------------------------
// --- Navigation ---
// -----------------------------------------------------------------------------
.navbar-kaikeru {
    @extend .navbar-default;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 200;

    .nav-logo {
        @extend .img-responsive;
        max-height: $navbar-height - $navbar-padding-vertical * 2;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        li {
            a {
                color: #color-text;
                &:hover {
                    background: transparent;
                    text-decoration: underline;
                }
            }
        }
    }
}

.home-header {
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @extend .img-responsive;
    .logo{
        max-width: 600px;
    }
    .blog-description {
        font-weight: 200;
    }
}

// -----------------------------------------------------------------------------
// --- Footer ---
// -----------------------------------------------------------------------------
.site-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.9rem;
    text-align: center;

    .footer-logo {
        @extend .img-responsive;
    }
}

// -----------------------------------------------------------------------------
// --- Listing
// -----------------------------------------------------------------------------
.article-container {
    margin-top: 2rem;
    .list-image {
        @include img-responsive;
    }

    .list-item {
        position: relative;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $color-border;

        .first-image {
            @extend .img-responsive;
            margin-bottom: 2rem;
        }

        .post-title {
            margin-top: 0;
        }

        .post-image {
            margin-bottom: 1rem;
        }
        .post-meta {
            padding-bottom: 1rem;
            font-size: 0.9rem;
            font-weight: 200;

            .list-author{
                a {
                    color: $color-text;
                }
            }
        }
    }

}

// -----------------------------------------------------------------------------
// --- Posts ---
// -----------------------------------------------------------------------------
.post-header-image{
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $screen-desktop) {
        height: 30rem;
    }

    @media screen and (max-width: $screen-desktop) {
        height: 15rem;
    }
}
.post {
    .post-title {
        font-size: 1.5rem;
        font-weight: bold;

        a {
            color: $color-text;
        }
    }

    .page-header {
        border: none;
        margin-bottom: 2rem;
        padding-bottom: 0;
    }

    .post-top-meta {
        @extend .text-muted;
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
        font-size: 0.9rem;
        font-weight: 200;

        .author {
            a {
                color: $color-text;
            }
        }

        .post-share{
            text-align: right;
            ul {
                list-style-type: none;
                li {
                    display: inline;
                    margin-left: 0.5rem;

                    a {
                        color: $color-text;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .post-content {
        img {
            @extend .img-responsive;
        }
    }


    .post-footer {
        margin-top: 2rem;
        font-weight: 200;
        .post-meta {

            .post-tags {
                font-size: 0.9rem;
                padding-bottom: 1rem;
                padding-top: 1rem;
                border-top: 1px solid $color-border;
                a {
                    //border: 1px $color-border solid;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    margin-top: 1rem;
                    color: $color-text-light;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------
// --- Author Page
// -----------------------------------------------------------------------------
.author-card {
    @extend .well;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .author-image {
        @extend .img-responsive;
        @extend .img-circle;
        margin-bottom: 0.5rem;
    }
    .author-name {
        text-align: center;
    }

    .author-bio {
        margin-bottom: 0.5rem;
    }

    .author-links {
        font-size: 0.8rem;
    }
}
